#geral{
    width: 500px;
    min-height: 500px;
    margin: 20px auto;

}

h3{
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 5px;
}

#abriga-form, #div-adicionar{
    margin: 20px 0px;
    padding: 5px;
}

form{
    background-color: aliceblue;
    padding: 20px;
    border-radius: 8px;
    color: black;
    border: 1px solid #000000;
}

label{
    display: inline-block;
    margin: 10px 0px 5px 0px;
    font-weight: bold;
}

input {
    display: inline-block;
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type="radio"] {
    display: inline;
    width: auto;
    height: auto;
    cursor: pointer;
    margin-right: 5px;
}

button{
    margin-top: 20px;
    margin-right: 10px;
    width: 150px;
    height: 35px;
    cursor: pointer;
    border: 1px solid #000000;
    border-radius: 4px;
}

#div-adicionar{
    background-color: rgb(134, 207, 255);
    border-radius: 4px;
    border: 1px solid #000000;

}
